# Android
**/build/
**/bin/
**/.gradle/
**/.cxx/
**/.externalNativeBuild/
captures/
*.apk
*.aar

# Kotlin / Java
.kotlin/
*.class

# IDE
.idea/
*.iml
*.iws
.project
.classpath
.settings/

# Local configuration
local.properties

# OS
.DS_Store
Thumbs.db

# C++ / CMake
**/CMakeCache.txt
**/CMakeFiles/
**/Makefile
**/cmake_install.cmake
